<%= form_with(model: @event, local: true, html: { multipart: true }) do |form| %>
  <% if @event.errors.any? %>
    <div class="alert alert-danger" id="error_explanation">
      <h4 class="alert-heading"><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h4>
      <ul>
        <% @event.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :title, class: 'form-label' %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :description, class: 'form-label' %>
    <%= form.text_area :description, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :location, class: 'form-label' %>
    <%= form.text_field :location, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :start_time, class: 'form-label' %>
    <%= form.datetime_select :start_time, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :end_time, class: 'form-label' %>
    <%= form.datetime_select :end_time, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :image, "Event Image", class: 'form-label' %>
    <%= form.file_field :image, class: 'form-control' %>
    <% if @event.image.attached? %>
      <div class="mt-2">
        <%= @event.image.attached? %> 
        <%= image_tag @event.image, class: 'img-thumbnail', alt: 'Event Image' %>
      </div>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit 'Save Event', class: 'btn btn-primary' %>
  </div>
<% end %>
