<h1>My Created <span class="eventWord">Events</span></h1>

<br>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card text-center mb-4 event-tile" style="width: 20rem;">
        <div class="card-body">
          <h5 class="card-title"><% if @created_events.empty? %>Create Your First <span class="eventWord">Event</span><% else %>Create Another <span class="eventWord">Event<% end %></h5>
          <br>
          <%= link_to 'Create Event', new_event_path, class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
    <% @created_events.each do |event| %>
      <div class="col-md-4">
        <div class="card mb-4 event-tile" style="width: 20rem;">
          <% if event.image.attached? %>
            <%= image_tag event.image, class: 'card-img-top', alt: event.title %>
          <% else %>
            <img src="https://via.placeholder.com/150" class="card-img-top" alt="Default Image">
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= event.title %></h5>
            <br>
            <p class="card-text"><%= truncate(event.description, length: 100) %></p>
            <p><strong>Location:</strong> <%= event.location %></p>
            <p><strong>Start Time:</strong> <%= event.start_time %></p>
            <p><strong>End Time:</strong> <%= event.end_time %></p>
            <%= link_to 'Show', event, class: 'btn btn-primary' %>
            <%= link_to 'Edit', edit_event_path(event), class: 'btn btn-secondary' %>
            <%= link_to 'Destroy', event, data: { confirm: 'Are you sure?', turbo_method: :delete }, class: 'btn btn-danger' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<br>

<h1><span class="eventWord">Events</span> I'm Invited To</h1>

<br>

<div class="container">
  <% if @invited_events.empty? %>
    <div class="row">
      <div class="col-md-4">
        <div class="card text-center mb-4 event-tile" style="width: 20rem;">
          <div class="card-body">
            <h5 class="card-title">Looks Like You Are Yet To Be Invited to an Event</h5>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <div class="row">
      <% @invited_events.each do |event| %>
        <div class="col-md-4">
          <div class="card mb-4 event-tile" style="width: 20rem;">
            <% if event.image.attached? %>
              <%= image_tag event.image, class: 'card-img-top', alt: 'Event Image' %>
            <% else %>
              <img src="https://via.placeholder.com/150" class="card-img-top" alt="Event Image">
            <% end %>
            <div class="card-body">
              <h5 class="card-title"><%= event.title %></h5>
              <br>
              <p class="card-text"><%= truncate(event.description, length: 100) %></p>
              <p><strong>Location:</strong> <%= event.location %></p>
              <p><strong>Start Time:</strong> <%= event.start_time %></p>
              <p><strong>End Time:</strong> <%= event.end_time %></p>
              <%= link_to 'Show', event, class: 'btn btn-primary' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
