<h1><%= @poll.title %></h1>

<h2>Options</h2>
<%= form_with(url: vote_event_poll_path(@event, @poll), local: true) do |form| %>
  <% @poll.poll_options.each do |option| %>
    <div>
      <%= form.radio_button :poll_option_id, option.id %>
      <%= option.title %> - <%= option.votes_count %> votes
    </div>
  <% end %>
  <%= form.submit 'Vote' %>
<% end %>
